@page "/"
@using Microsoft.AspNetCore.Authorization  

@attribute [Authorize]
@rendermode InteractiveAuto
<PageTitle>WHAT IS RAP ?</PageTitle>

<h1>Definition of Rap</h1>
<div class="flex">
    <p>
        Rap is a cultural and musical movement (popular music) which has its origins in hip-hop. Appearing in the early 1970s in American ghettos, rap is characterized by very rhythmic diction and the use of rhyme. It is basically a means of expression to claim a certain way of living at that time, rap taking on an important social character when it highlights the injustices of society or often a more egotistical character too. From the 1980s, rap began to be exported abroad, to France, Germany, United Kingdom, Japan, Korea, Senegal, South Africa, USSR (then Russia) and even China. Rap spread throughout the world and spread, becoming one of the first artistic movements with representatives on every continent. Most often, a rap song is a succession of couplets separated by a chorus. Influenced by other musical genres (reggae, blues, jazz, rock), rap acquired increasing popularity throughout the 1980s. In the early days, MCs (Master of Ceremony) were just used to support the DJ, and the rapped parts were simply called MC-ing (emceeing) or (aimesi-ing). In France, rap developed from the end of the 1980s. It can be divided into three eras. The classic period extends from the end of the 1980s to the beginning of the 2000s, marked by a majority of black artists such as Oxmo Puccino, Lord Kossity, Mc Solaar, Kery James (with IdealJ), IAM, NTM. The period of democratization began in the 2000s, with groups and artists like Lunatic, Diam's, Sinik, Rim'k, Sefyu, Sniper, Rohff, La Fouine, who began to reach the French population in general and to record the first significant commercial successes. Finally, from the 2010s, French-speaking rap has experienced a rather paradoxical period of innovation, because it is the beginning of the end of French rap, but also the logical beginning of new experiments which open French rap to new possibilities. musical genres, such as trap, drill or even “folk” rap. This period is distinguished by the great variety of French rap.
    </p>
    <img id="rap" src="IMAGES_Home/Rap.jfif" />
</div>

<div class="More_Infor">
    <br />
    <h1>More Information</h1>
    <br />
    <h3>1. CLASH </h3>
    <card>
        <h5>In rap therefore amounts to attacking directly (and sometimes even indirectly) one or more people (often rappers too). From this practice, a clash can also be seen as a joke, a joke or a verbal attack made to through a song with the aim of ridiculing or outrage.    </h5>
        <img id="More_Info" src="IMAGES_Home/clash.jfif" />
    </card>
    <br />
    <h3>2. FREESTYLE</h3>
    <card>
        <h5>Freestyle is a style of hip hop in which an artist writes an unpublished verse, with or without instrumental beats, in which the lyrics are recited without any particular subject or structure. </h5>
        <img id="More_Info" src="IMAGES_Home/FreeStyle.jpg" />
    </card>
    <h3>3. TRACK</h3>
    <br />
    <card>
        <h5>When a rap or hip-hop artist creates a song, "track" or recording, made primarily in a production studio, most often a producer provides the beat(s) on which the MC must circulate.    </h5>
        <img id="More_Info" src="IMAGES_Home/Track.jpg" />
    </card>
    <h3>4. PUNCHELINES</h3>
    <br />
    <card>
        <h5>Punchline is an Anglicism designating a punchy sentence carrying a strong or shocking message. We also talk about punchlines in the world of rap and in that of graffiti. In a rap song, the punchline very often comes as a punchline, at the end of the text so as to be even more impactful.    </h5>
        <img id="More_Info" src="IMAGES_Home/punchline.jpg" />
    </card>
    <h3>5. RHYME</h3>
    <br />
    <card>
        <h5>Rhyme is the repetition of similar sounds in two or more words. Rhymes are particularly common in many types of poetry, especially at the end of lines, and are a requirement of formal poetry. The most common and widely used form of rhyme is perfect rhyme, in which the stressed syllables of words, as well as all subsequent syllables, share identical sounds, as in "handkerchief" and "stencil."    </h5>
        <img id="More_Info" src="IMAGES_Home/RHYME.jpg" />
    </card>
    <h3>6. RYTHME</h3>
    <br />
    <card>
        <h5>Rhythm is the return, at regular intervals, of a fact or phenomenon. In music, rhythm is the notion of form or movement resulting from the repetition of a structure. It is the way in which music is systematically divided into rhythms repeated a specified number of times within a measure. Rhythm is also the movement of poetic speech which is regulated by measure.    </h5>
        <img id="More_Info" src="IMAGES_Home/RYTHME.jfif" />
    </card>
    <h3>7. COUPLET</h3>
    <br />
    <card>
        <h5>A verse is a verse of a song, separated by a chorus. It is a long section of the song usually between 8 and 16 bars in length. The verse is one of two constituent melodic structures occurring alternately with the chorus and whose main characteristic is to present different lyrics with each new exposition.    </h5>
        <img id="More_Info" src="IMAGES_Home/couplet.jpg" />
    </card>
    <h3>8. REFRAIN</h3>
    <br />
    <card>
        <h5>In music, a chorus is the regular repetition of lyrics from the same song. The different choruses of the same song not only have the same lyrics, but also the same melody. The chorus is based on the simplest structural principle in music: textual repetition. A musical phrase, however short it may be, becomes a refrain by the fact that it is an element repeated textually in relation to other elements which themselves vary.    </h5>
        <img id="More_Info" src="IMAGES_Home/Refrain.jpg" />
    </card>
    <h3>9. LYRICS</h3>
    <br />
    <card>
        <h5>Lyrics designate in Anglo-Saxon culture the words of a song. This term was adopted in the French language in the 1920s at the instigation of librettist Albert Willemetz in order to precisely designate the sung words of musical comedies imagined after the composition of the music, unlike opera and operetta librettos on which the composer had previously adapted his music to.    </h5>
        <img id="More_Info" src="IMAGES_Home/Lyrics.jpg" />
    </card>
    <h3>10. INSTRUMENTAL</h3>
    <br />
    <card>
        <h5>A musical instrument is a raw or manufactured object capable of producing sounds used for musical purposes. It can be designed for this purpose, or modified or removed from its primary use. Musical instruments can be classified into several categories, such as stringed, wind, percussion, or even chromatic instruments.   </h5>
        <img id="More_Info" src="IMAGES_Home/Instru.jpg" />
    </card>
    <h3>11. FLOW</h3>
    <br />
    <card>
        <h5>Flow is a term used in rap to describe the way a rapper lays out syllables in relation to the beat. It should not be confused with throughput, which is often confused with speed. Flow is also called phrasing, and it is characterized by the way it is pronounced. Flow and beat are inseparable in order to give the appropriate rhythm in rap music.   </h5>
        <img id="More_Info" src="IMAGES_Home/Flow.jpg" />
    </card>
    <h3>11. BARS</h3>
    <br />
    <card>
        <h5>“Bars” in rap refers to lyrics in a rap song. Bars are literally measures of time in music, so “bars” in this context refers specifically to the lyrics and how well they flow. Often, then, in the context of rap, “bars” is used in the context that the lyrics are particularly good and flow really well.  </h5>
        <img id="More_Info" src="IMAGES_Home/Bars.jpg" />
    </card>
</div>

<h1>The different types of Rap</h1>
<br />
<card class="norme">
    <div class="deco">
        <h1>1. Old school </h1>
        <h4>
            Old school to me encompasses most hip-hop from the late 70s and mid to late 80s. In general, old school hip-hop is characterized by early uses of samples, turntablism and of simple rhyme schemes. You will also hear the use of double meter most of the time. The use of triplets was not widespread at the time. Hip-hop was born in New York, so naturally that's where most old school hip-hop artists come from.
        </h4>
    </div>
    <div class="deco">
        <h1>2. Mumble rap </h1>
        <h4>
            Mumble rap is a bit of a derogatory term for some artists. But, in many ways, it's an apt description of a certain style of rap that's popular right now. The genre is an offshoot of trap that plays with heavy triplet rhymes used by many trap artists. Mumble rappers often rhyme very quickly in triplets while using unintelligible and sometimes made-up words.
        </h4>
    </div>
    <div class="deco">
        <h1>3. UK Drill</h1>
        <h4>
            UK Drill draws on the trap-influenced styles of Chicago Drill music and combines them with the sound that UK Grime rappers pioneered. It’s a very new genre that only really took off in 2019. Rapper, Stormzy and producer AXL Beats are the two biggest artists behind the genre. The best way to describe UK Drill is that it marries the distinct sound of UK Grime's lyrical cadence with the intense drum production of drill.
        </h4>
    </div>
</card>
<br />
<card class="norme">
    <div class="deco">
        <h1>4. Rap rock </h1>
        <h4>
            Rap rock combines the high-voltage energy of rock music with the attitude and style of hip-hop. The genre is rooted in late '90s acts like the Beastie Boys and Run DMC, but gained momentum with 2000s artists like Linkin Park. Rap rock often uses influences from punk and hardcore but leaves space for rap verses by incorporating drum parts adapted to hip-hop and inspired by drum and bass and boom-bap.
        </h4>
    </div>
    <div class="deco">
        <h1>5. Grime</h1>
        <h4>
            Grime is a subgenre of hip-hop that originates from the United Kingdom. He is known for mixing hip-hop production with electronic influences from the UK's healthy dance music scene, particularly UK Garage music. You'll hear a lot of bubbling synths and freaky pads used throughout many grime tracks. Beyond production, Grime is most notable for its lyrical style which draws heavily on specific dialects of English from certain parts of London. The rhythmic delivery and lyrical content both feel different, with plenty of British street slang used throughout.
        </h4>
    </div>
    <div class="deco">
        <h1>6. Gangsta rap</h1>
        <h4>
            Gangsta rap is a subgenre of boom-bap from the late 90s and early 2000s. To me, this subgenre is particularly defined by its lyrical content that graphically depicts the grittier side of life in the streets as a gang member. But also, gangsta rap production often made extensive use of strings and orchestral samples from classical music and jazz. The combination of this more formal sound and the heavy boom-bap drums created a contrast that, in some way, seemed to suit the intense lyrical descriptions of violence and street life.
        </h4>
    </div>
</card>
<br />
<card class="norme">
    <div class="deco">
        <h1>7. Latin trap </h1>
        <h4>
            Latin trap is the union of reggaeton and trap music. In the Latin trap production, you'll hear that classic reggaeton dembow drumbeat combined with heavy 808s and fast hat traps. Latin trap is often sung in Spanish and will usually feature sung and rapped verses and choruses.
        </h4>
    </div>
    <div class="deco">
        <h1>8. Emo Rap</h1>
        <h4>
            I guess even rap can have an emo phase. Emo rap drew inspiration from the tortured lyrics of Kurt Cobain, the nostalgic melodies of midwestern emo and screamo, and the auto-heavy production styles used by neo-R&B artists like T-Pain. Naturally, emo rap is most defined by its lyrical content and visual style – with artists like Lil Uzi Vert singing about their personal pains while maintaining a grunge dress code.
        </h4>
    </div>
    <div class="deco">
        <h1>9. Conscious hip-hop</h1>
        <h4>
            Conscious hip-hop grew in tandem with boom-bap in the mid-'90s – but with a political orientation spawned by the LA riots of 1992. Groups like A Tribe Called Quest and NWA witnessed this was going on with police brutality towards black communities and wrote music to express their anger. Conscious hip-hop kicked off a tradition of speaking truth to power in hip-hop, paving the way for artists like Common and Kendrick Lamar.
        </h4>
    </div>

</card>
<br />
<card class="norme">
    <div class="deco">
        <h1> 10. G-funk</h1>
        <h4>
            G-funk might be one of the most famous genres in hip-hop as it took the world by storm in the late 90s and early 2000s. Its most important producer by far is Dr. Dre, who fused funk with unique electronic drum production to create an entirely new hip-hop sound. Everyone from the early 90s California scene worked with Dre if they had the chance. G-funk is known for using lots of guitar samples, vintage synths, and hard-hitting electronic production with drum machines.
        </h4>
    </div>
    <div class="deco">
        <h1>11. Country trap</h1>
        <h4>
            Country trap is a relatively new genre that has obvious ties to Atlanta trap and good old Nashville pop-country. The mega-hit that defined the genre was certainly Lil Nas X with Old Town Road, but Nelly's releases with Florida Georgia Line laid the foundation for the genre. Today's modern country sound really takes a lot of cues from trap production, you'll hear trap hats and 808 claps in many party oriented pop-country songs if you listen closely.
        </h4>
    </div>
    <div class="deco">
        <h1>12. Drill</h1>
        <h4>
            Drill is another style of trap-inspired rap that broke into the mainstream in the late 2010s. The Chicago-based producers who created it, like Young Chop and Chief Keef, took inspiration from Atlanta-style trap, but relied heavily on fast-paced hi-hat trap production, covering synth pads, and crunchy horn samples. It’s similar to gangsta rap’s reaction to boom-bap. Doubling down on the hardest-hitting elements of trap music, and combining that with gritty lyrics about life on the mean streets.
        </h4>
    </div>
    
</card>
<br />
<card class="norme">
    <div class="deco">
        <h1>13. Bounce</h1>
        <h4>
            New York may deserve credit for inventing hip-hop, but it wasn't the only place hip-hop was happening in the early '90s. Down in New Orleans, a movement different began – Bounce was the south's answer to what was happening in the north. Compared to the hard-hitting, gritty sound of New York MCs, Bounce was fun. Its whimsical nature and heavy use of call and response sections made it easy to sing. Bounce also pioneered the fusion of soul and R&B with hip-hop music and featured many great female MCs who could both sing and rap – the late Magnolia Shorty being a prime example. It's a truly southern genre, which gave birth to southern hip-hop and inspired crunk artists like Lil John and horrorcore artists like Three 6 Mafia.
        </h4>
    </div>
    <div class="deco">
        <h1>14. Horrorcore</h1>
        <h4>
            Unlike Bounce, Horrorcore is a dark and transgressive genre - as the name suggests, it's meant to give you chills with occult imagery and graphic lyrics. I think out of all the more old-school genres of hip-hop, my favorite artists come from the horrorcore genre because of the obvious connections between its production style and modern trap. It’s just so cool to hear the evolution of hip-hop. My favorite horrorcore band is Three 6 Mafia. Listen to their 1995 album Mystic Styles and you'll understand why it's credited as an early inspiration for trap music. Horrorcore has a gritty, lo-fi edge without sounding like it's from New York – it's completely true to its southern roots of Memphis and Houston.
        </h4>
    </div>
    <div class="deco">
        <h1>15. Hyphy</h1>
        <h4>
            During the rise of New York's hip-hop scene in the '90s, another West Coast scene was brewing in Oakland—that's where the hyphy genre was born. Hyphy is known for his influence on producers like Dr. Dre and for laying the foundation for West Coast genres like G-Funk and the overall laid-back feeling that '90s West Coast rap is known for. known. Its main progenitors are Too $hort and E-40, both of whom created fun music that embodies the sunny, funky style that hyphy is known for.
        </h4>
    </div>
</card>
<br />
<card class="norme">
    <div class="deco">
        <h1>16. Footwork</h1>
        <h4>
            Footwork is perhaps my favorite modern subgenre of hip-hop because it's simply unique and nothing quite sounds like it. I would credit the invention of footwork to the Chicago label Teklife and footwork's most famous artist, the late DJ Rashad. Footwork is cool because it's very fast BPM-wise and really pushes the boundaries of classic trap production. Lightning fast hi-hats, changing pace between triplets and duplets and the exclusive use of a punchy triplet kick are what define the genre for me. Drums and rhythm are huge in creating a footwork track, but also the genre leans heavily on choppy jazz and soul samples.
        </h4>
    </div>
    <div class="deco">
        <h1> 17. Crunk</h1>
        <h4>
            Crunk is an absolutely amazing subgenre of rap that popped up in Florida and parts of the southwest states during the 2000s. It's a really interesting genre of rap to me because it sounds really unique and different from most other types of rap. You know when you listen to a crunk rap song. Crunk is definitely a precursor to modern trap which is so popular right now too. It makes use of fast hi-hat production and some pretty boomy bass kicks. But what really pushes crunk to the top are their vocal characteristics – they often use loud, loud choruses that almost sound like they're being screamed into the mic.
        </h4>
    </div>
    <div class="deco">
        <h1>18. Jazz rap</h1>
        <h4>
            Jazz rap has close ties to the boom-bap era of hip-hop. This is because many of the samples used by boom-bap producers came from jazz and soul vinyls. Jazz rap of the early 2000s pushed the boundaries of sampling techniques and combined complex rhyme schemes with offbeat drum production. For me, the two leading figures of jazz-rap are the late J Dilla and MF DOOM. J Dilla is the producer behind the offbeat, slightly swinging drum production style that we associate with jazz rap. MF DOOM is a master lyricist whose ability to string together extremely complex rhymes into incredible storytelling is second to none.
        </h4>
    </div>

</card>
<br />
<card id="expension">
    <div class="deco">
        <h1>19. Trap</h1>
        <h4>
            If there's one genre of hip-hop we hear the most about right now, it's trap. Right now, mainstream hip-hop – and really mainstream music in general, from country to pop – is all about this trap beat. Trap has many, many subgenres that we'll unpack later, but in general, the genre originated in Atlanta and was pioneered by producers like Metro Boomin and Zaytoven. Its defining characteristics are its extensive use of booming 808 bass, incredibly fast hi-hats, and the use of triplets both in the beats themselves and in the rhymes that trap artists spit. Trap is truly a modern take on hip-hip, particularly because trap beats are much easier to program with the help of modern DAWs and sampling technology.
        </h4>
    </div>
    <div class="deco">
        <h1>20. Soundcloud</h1>
        <h4>
            Soundcloud is the platform that many rappers use today to find their audience and develop their voice. It’s a free streaming platform where anyone can post their tracks, get feedback and find followers. That's why it's no surprise that Soundcloud has given birth to many artists and even an entire style of rap. Because the platform is free from the demands of other mainstream platforms, Soundcloud rappers have plenty of room to experiment. Many Soundcloud rappers spit verses over bizarre and unique musical productions, use shocking and strange lyrics, and maintain a colorful and artistic aesthetic. If there's one thing that unites successful Soundcloud rappers, it's their volume of production – these artists put a ton of content on the platform.
        </h4>
    </div>
    <div class="deco">
        <h1>21. Boom-bap</h1>
        <h4>
            Boom-bap gets its name from its distinctive drum production style. The old-school hip-hop genre of the mid-'90s made heavy use of powerful kicks and snare, sometimes placing these drum sounds before hi-hats and other parts of a beat's arrangement. Boom-bap is truly a sample-oriented style of beat making. Many producers from this era sampled sections of soul and funk vinyl directly into an SP-1200, then looped them to create hypnotic, hard-hitting, and incredibly powerful repetitive beats. It is a style of beat making production that ultimately had a huge impact on the way music would be made in the future. Between the street stories that boom-bap MCs rhyme about and the unique, hard-hitting sound of boom-bap drums, the genre remains one of the most beloved and revered styles of rap.
        </h4>
    </div>
    
</card>


