@page "/The list of rappers"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>The List Of Rappers</h1>

<Card>
    <div class="card-body">
        <h4>Riffi</h4>
        <p class="LIGNE1">Riffi, whose real name is Mohammed Bendadda, born February 16, 1997 in Dronten (Netherlands), is a Dutch rapper and singer.</p>
        <img class="picture" src="Img_List/Riffi.png" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Riffi">Riffi</a></h6>

        <h4>Ali B</h4>
        <p class="LIGNE2">Ali Bouali, whose stage name is Ali B, born October 16, 1981 in Zaanstad (Netherlands), is a Dutch rapper and programmer of Moroccan origin who grew up in Almere. He is the cousin of rapper Yes-R</p>      
        <img class="picture" src="Img_List/Ali B.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/TRIFECTA_NL/videos">Ali B</a></h6>

        <h4>Pause Flow</h4>
        <p class="LIGNE3">Pause Flow was born in 1995 in Imouzzer, and his name is Jawad Asradi. He started rapping in 2009, but did not release music until 2013, when he and some friends created a musical group called "Halfin". In 2015, the group would disband and Pause Flow would remain one. At that moment, he rebuilt his career again.</p>
        <img class="picture" src="Img_List/pause.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/225azertyuiop">Pause Flow</a></h6>

        <h4>Ashafar</h4>
        <p class="LIGNE4">Ashafar, whose real name is Zakaria Abouazzaoui born January 26, 1999 in Blaricum (Netherlands), is a Dutch rapper of Moroccan origin. The rapper became popular after the release of his single Panamera in 2019.</p>
        <img class="picture" src="Img_List/Ashafar.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/watch?v=39d2jr1wQYU">Ashafar</a></h6>

        <h4>Axiom</h4>
        <p class="LIGNE5">Hicham Kochman, known as Axiom, is a French-Moroccan rapper, beatmaker and music producer born in Lille. He runs the company KeakR, a web3 digital platform dedicated to artists and music fans. Founder of the first French urban culture center, called Flow and located in Lille, he is the author of a political essay entitled I have a dream published by Éditions Denoël.</p>
        <img class="picture" src="Img_List/Axiom.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Axiom">Axiom</a></h6>

        <h4>Farid Bang</h4>
        <p class="LIGNE6">Farid Bang, whose real name is Farid Hamed El Abdellaoui, born June 4, 1986 in Melilla, Spain, is a German rapper of Moroccan origin, in the style of gangsta rap.</p>
        <img class="picture" src="Img_List/Farid Bang.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/FaridBang">Farid Bang</a></h6>

        <h4>Don Bigg</h4>
        <p class="gauch">Taoufik Hazeb, known as Don Bigg, Bigg da Don or Bigg, is a Moroccan rapper born October 8, 1983 in Casablanca. He is considered one of the notorious Moroccan rappers in particular for his direct style, his mastered flow and for the themes of his songs, very close to the concerns of a large segment of Moroccan urban youth, including corruption.</p>
        <img class="picture" src="Img_List/Don Bigg.webp" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/DonbiggofficialPage">Don Bigg</a></h6>

        <h4>Khtek</h4>
        <p class="LIGNE8">Houda Abouz, plus connu sous le nom de Khtek (qui signifie « ta sœur » en arabe marocain), née vers 1995, est une rappeuse marocaine.</p>
        <img class="picture" src="Img_List/khtek.png" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=khtek">Khtek</a></h6>

        <h4>Salah Edin</h4>
        <p class="LIGNE2">Salah Edin, whose real name is Abid Tounssi born June 23, 1980 in Alphen-sur-le-Rhin in the Netherlands, is a Dutch-Moroccan rapper highlighted by the famous Dutch rapper Ali B. He collaborated with several foreign artists including Outlandish, Sefyu and IAM.</p>        
        <img class="picture" src="Img_List/Salah Edin.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Salah+Edin">Salah Edin</a></h6>

        <h4>Canardo</h4>
        <p class="LIGNE9">Canardo, whose real name is Hakim Mouhid, born September 22, 1984 in Trappes, in Yvelines, is a French singer-songwriter, rapper, producer and beatmaker, of Moroccan origin. </p>
        <img class="picture" src="Img_List/Canardo.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/CANARDOTV">Canardo </a></h6>

        <h4>ElGrandeToto</h4>
        <p class="LIGNE10">ElGrandeToto or Toto, real name Taha Fahssi, born August 3, 1996 in Casablanca, is a Moroccan rapper. In 2021, he is the most streamed artist in the MENA region on Spotify, with over 135 million streams in 178 countries.</p>
        <img class="picture" src="Img_List/ElGrandeToto.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/ElGrandeToto">ElGrandeToto</a></h6>

        <h4>Feis</h4>
        <p class="LIGNE11">Feis, whose real name is Faisal Mssyeh, is a Dutch rapper of Moroccan origin. He was part of the Ecktuh Ecktuh collective.</p>
        <img class="picture" src="Img_List/Feis.png" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Feis">Feis</a></h6>

        <h4>MONS</h4>
        <p class="LIGNE12">MONS is an acclaimed electronic music artist from Denmark and originally from Morocco whose work blurs the lines between genres such as house, techno, electronica and more. His innovative sound has earned him numerous awards and accolades over his career as well as recognition from some of the biggest names in the industry. MONS continues to push boundaries with each new release.</p>
        <img class="picture" src="Img_List/MONS.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=MONS">MONS</a></h6>
    </div>
    <div class="card-body">
        
        <h4>French Montana</h4>
        <p class="LIGNE1">French Montana, whose real name is Karim Kharbouch, born November 9, 1984 in Casablanca, Morocco, is an American-Moroccan rapper, producer and entrepreneur.</p>
        <img class="picture" src="Img_List/French Montana.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/FrenchMontana">French Montana</a></h6>

        <h4>Fnaïre </h4>
        <p class="LIGNE2">Fnaïre is a Moroccan hip-hop group, originally from Marrakech. Formed in 2001, it is made up of three singers: Mohcine Tizaf, Khalifa Mennani, and Achraf Aarab. The fourth member of the group, Hicham Belkas, died in a traffic accident in Fez in 2008.</p>
        <img class="picture" src="Img_List/Fnaïre.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/Fnaire">Fnaïre</a></h6>

        <h4>El Haqed</h4>
        <p class="LIGNE3">Mouad Belghouat, better known by his artistic name El Haqed or Lhaqed (the madman), often spelled L7a9d in Web/SMS spelling, is a Moroccan rapper born June 9, 1987 in Casablanca.</p>
        <img class="picture" src="Img_List/El Haqed.png" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/mouadl7a9d">L7a9d</a></h6>

        <h4>7liwa</h4>
        <p class="LIGNE4">7LIWA is the stage name of Mouad Belghouat, a 24-year-old rapper and singer from Morocco. He is credited with helping to bring rap to the mainstream in Morocco, leading the way for future popular hip hop artists in the country.</p>
        <img class="picture" src="Img_List/7liwa.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/7liwaWeldFatima">7liwa</a></h6>

        <h4>Ismo</h4>
        <p class="LIGNE5">Ismail Houllich aka Ismo born February 12, 1990 in Bréda in the Netherlands, is a Dutch rapper of Moroccan origin. He is one of the most active Dutch rappers of the moment, with singles that exceed a million views on YouTube. His clips, which he shoots very often in France and Morocco, are causing panic on the web in the Netherlands as well as in Belgium.</p>   
        <img class="picture" src="Img_List/Ismo.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=ismo+rap">Ismo Officiel</a></h6>

        <h4>Jayh</h4>
        <p class="LIGNE6">Jaouad Ait Taleb Nasser alias Jayh born January 18, 1982 in Amsterdam in the Netherlands, is a Dutch rapper.</p>
        <img class="picture" src="Img_List/Jayh.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Jayh">Jayh</a></h6>

        <h4>Namika</h4>
        <p class="gauch">Namika, real name Hanan Hamdi, also known by the stage name Hän Violett, is a German-Moroccan singer and rapper, born August 23, 1991 in Frankfurt am Main. She became known to a wide audience through her song Lieblingsmensch in 2015. She became known to a wide audience through her song Lieblingsmensch in 2015. She is one of three female German hip-hop artists to reach number one place in the German singles chart.</p>
        <img class="picture" src="Img_List/Namika.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCRrLWhcrm7jrOMiuU0HmNRA">Namika</a></h6>

        <h4>Al Kayssar</h4>
        <p class="LIGNE8">Al Kayssar, also known as Amine Snoop, real name Amine Aboudrar, is a Moroccan rapper, slammer and singer-songwriter born April 27, 1977 in Casablanca.</p>
        <img class="picture" src="Img_List/Al Kayssar.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Al+Kayssar">Al Kayssar</a></h6>

        <h4>Killer Kamal</h4>
        <p class="LIGNE2">Killer Kamal is a Dutch rapper of Moroccan origin. He was part of the group Youssef en Kamal between 2004 and 2014. Having a modified voice, the rapper is blurred and often hooded so as not to be recognized in his clips.</p>
        <img class="picture" src="Img_List/Killer Kamal.webp" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Killer+Kamal">Killer Kamal</a></h6>

        <h4>Lartiste</h4>
        <p class="LIGNE9">Youssef Akdim, dit Lartiste, est un rappeur et auteur-compositeur-interprète franco-marocain chleuh, né le 4 juillet 1985 à Imintanoute, au Maroc.</p>
        <img class="picture" src="Img_List/Lartiste.png" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Lartiste">Lartiste</a></h6>

        <h4>Lbenj</h4>
        <p class="LIGNE10">Lbenj is a 23-year-old Moroccan singer and rapper. His name is Hamza Al-Kabbaj . It was an instant hit, reaching the top of the charts in Morocco and garnering over 10 million views on YouTube. Since then, Lbenj has become a household name in Morocco, releasing hit after hit and collaborating with other artists such as Soolking.</p>
        <img class="picture" src="Img_List/Lbenj.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=lbenj">Lbenj</a></h6>

        <h4>Lijpe</h4>
        <p class="LIGNE11">Abdel Achahbar alias Lijpe Mocro, born October 29, 1993 in Utrecht in the Netherlands, is a Dutch rapper of Moroccan origin.</p>
        <img class="picture" src="Img_List/Lijpe.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Lijpe">Lijpe</a></h6>

        <h4>Dollypran</h4>
        <p class="LIGNE12">Dollypran is a 27 year old singer/songwriter from the UK and originally from Morocco. Their music is a mix of electronic pop and hip hop, with catchy hooks and punchy beats. They started out as a bedroom producer, making beats for other artists, before releasing their own material. They have since been making waves in the underground scene with their unique sound.</p>
        <img class="picture" src="Img_List/Dollypran.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCDew5DsBBv5eXHsTkrjctSg">Dollypran</a></h6>
    </div>
    <div class="card-body">

        <h4>Dú Maroc</h4>
        <p class="LIGNE1">Dú Maroc, real name Mimoun Alaoui, born August 21, 1985 in Frankfurt am Main, Germany, is a German rapper of Moroccan origin, in the style of gangsta rap.</p>
        <img class="picture" src="Img_List/Dú Maroc.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCDZAP_8DetOJyNPEv1syO1Q">Dú Maroc</a></h6>

        <h4>Maruego</h4>
        <p class="LIGNE2">Maruego, whose real name is Oussama Laanbi, born in 1992 in Berrechid, Morocco, is an Italian rapper of Moroccan origin.</p>
        <img class="picture" src="Img_List/Maruego.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UC_MKIOElsFNP8vF4yheo8NA">Maruego</a></h6>

        <h4>Miami Yacine </h4>
        <p class="LIGNE3">Miami Yacine, whose real name is Yassine Baybah, born in Dortmund, is a German gangsta rap rapper of Moroccan origin. The rapper is known for having reached 100 million views with the song Kokaina.</p>
        <img class="picture" src="Img_List/Miami Yacine.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCI71p6gWGqdSWbmMwJoOv7w">Miami Yacine </a></h6>

        <h4>Moha K</h4>
        <p class="LIGNE4">Moha K, real name Mohamed Ait El Kaid, born March 19, 2003, is a Franco-Moroccan rapper. He became known thanks to the success of his song Vroum Vroum, number one in the Top Singles and certified diamond disc.</p>
        <img class="picture" src="Img_List/Moha K.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCm7sKPyF8ASy969wWG7qwgw">Moha K</a></h6>

        <h4>3robi </h4>
        <p class="LIGNE5">Anass Haouam, aka 3robi born January 24, 1995 in Amsterdam, is a Dutch rapper. He entered the Dutch rap scene in 2014. Today he is one of the most active rappers in the Netherlands. With the hit Cartier which he produced in collaboration with Dopebwoy and Chivv, he reached 100 million views.</p>
        <img class="picture" src="Img_List/3robi.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/SpowBusiness/featured">3robi</a></h6>

        <h4>Monsif</h4>
        <p class="LIGNE6">Monsif, whose real name is Monsif Bakkali, born March 24, 1997 in Amsterdam (Netherlands), is a Dutch rapper and singer of Moroccan origin.</p>
        <img class="picture" src="Img_List/Monsif.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCCISP1n6rLX1GamA_T1uZow">Monsif</a></h6>

        <h4>Nikkfurie</h4>
        <p class="gauch">Nikkfurie, whose real name is Ahmed Mazouz, is a French rapper of Moroccan origin, member of the rap group La Caution. He is a member of the groups Les Cautionneurs and L'Armée des 12, as well as the cinema collective Kourtrajmé. Nikkfurie works on solo projects of instrumental electronic music, under the name Maison Closed. He performs on stage internationally, notably in New York, Caracas, Astana, Saint Petersburg, Berlin, Casablanca, Barcelona, Cairo and Tunis.</p>
        <img class="picture" src="Img_List/Nikkfurie.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Nikkfurie">Nikkfurie</a></h6>

        <h4>Mula B</h4>
        <p class="LIGNE8">Hicham Hendrik Mulasi Gieskes, aka Mula B, is a Dutch rapper.</p>
        <img class="picture" src="Img_List/Mula B.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Mula+B">Mula B</a></h6>

        <h4>Morad</h4>
        <p class="LIGNE2">Morad, whose full name is Morad El Khattouti El Horami, born March 4, 1999 in L'Hospitalet de Llobregat, is a Spanish rapper of Moroccan origin. He entered the Spanish rap scene in 2019 with his single M.D.L.R, then by setting up a label of the same name.</p>
        <img class="picture" src="Img_List/Morad.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCtAhIlz3P9mzJ0jWxaZ8RYA">Morad</a></h6>

        <h4>Niro</h4>
        <p class="LIGNE9">Niro, born Nourredine Bahri on July 9, 1987 in Orléans, is a French rapper of Moroccan origin.</p>
        <img class="picture" src="Img_List/Niro.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCPjT-mSb-P-cl1zgsQ35CQw">Niro</a></h6>

        <h4>Nessbeal</h4>
        <p class="LIGNE10">Nessbeal, whose real name is Nabil Selhy, born August 16, 1978 in Boulogne-Billancourt, in Hauts-de-Seine, is a French rapper of Moroccan origin. He has five solo albums to his credit: the first, La Mélodie des bricks, was published in 2006, and an album with his group Dicidens in 2004.</p>
        <img class="picture" src="Img_List/Nessbeal.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UC0ECEd2fCWZYtdW7Lj-hEEQ">Nessbeal</a></h6>

        <h4>Ouenza</h4>
        <p class="LIGNE11">Ouenza, whose real name is Abdelaziz Ouenza, is a Moroccan rapper.</p>
        <img class="picture" src="Img_List/Ouenza.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UC4YX_4f3o2FFzOwCekFZ1Gg">Ouenza</a></h6>

        <h4>7ARI</h4>
        <p class="LIGNE12">7ARI is the stage name of Tunisian rapper, songwriter and producer Amine Amri. Born in Tunisia in 1998, 7ARI first made his mark on the music scene in 2016 with his debut single “Ghetto”. Since then, he's become one of the biggest stars in the rap/trap genres, racking up millions of views on YouTube and collaborating with some of the biggest names in hip-hop. The entire Moroccan public knows him.</p>
        <img class="picture" src="Img_List/7ARI.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=7ari">7ARI</a></h6>

    </div>
    <div class="card-body">

        <h4>Appa</h4>
        <p class="LIGNE1">Rachid El Ghazoui, better known as Appa, is a Dutch rapper of Moroccan origin. He is currently contracted by the TopNotch label.</p>
        <img class="picture" src="Img_List/Appa.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Appa">Appa</a></h6>

        <h4>Pierrii</h4>
        <p class="LIGNE2">Pierrii, whose real name is Mounir Hamdoune, born in 1996 in Roosendaal (Netherlands), is a Dutch rapper of Moroccan origin. He entered the Dutch rap scene with his rap session at the record label Zonamo Underground in 2015.</p>
        <img class="picture" src="Img_List/Pierrii.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Pierrii">Pierrii</a></h6>

        <h4>Small X</h4>
        <p class="LIGNE3">Small X, whose real name is Abdessamad Lamriq, born March 1, 1991 in Safi, is a Moroccan rapper. Since 2006, he formed a rap group called Shayfeen with Shobee, before deciding to pursue his solo career in early 2021.</p>
        <img class="picture" src="Img_List/Small X.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UChpVdIKWjWLmpkzMelBAvnw">Small X</a></h6>

        <h4>Tagne</h4>
        <p class="LIGNE4">Tagne is a 32-year-old African music artist based in Cameroon. His unique sound blends traditional and modern influences, creating a truly one-of-a-kind listening experience. He has been releasing singles, EPs, and albums since 2019.</p>
        <img class="picture" src="Img_List/Tagne.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCQ6rcY0aZ2CwsWHs0bBMwdQ">Tagne</a></h6>

        <h4>Soesi B</h4>
        <p class="LIGNE5">Soesie B, whose real name is Said Rharissi born December 25, 1986 in Amsterdam, is a Dutch rapper of Moroccan origin. It was put forward by the famous rapper Yes-R.</p>
        <img class="picture" src="Img_List/Soesi B.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=Soesi+B">Soesi B</a></h6>

        <h4>Yes-R</h4>
        <p class="LIGNE6">Yes-R, real name Yesser Roshdy, born is a Dutch rapper and television presenter.</p>
        <img class="picture" src="Img_List/Yes-R.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCjMle3mXKQdatUsqSBZhZMg">Yes-R</a></h6>

        <h4>Lferda</h4>
        <p class="gauch">LFERDA is a Moroccan-born rapper who is quickly rising to become one of the most popular rappers in Morocco. Born Abdelmoughit Boucham in 1991, LFERDA grew up in Casablanca, Morocco and started rapping at age 15. His career began with local shows and live performances in small clubs and venues around the city. His first break came when he joined the collective '7ar9a Gang', a group of hip hop artists from around Morocco.</p>
        <img class="picture" src="Img_List/Lferda.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCnMQbKtNPamGzvOMSzlw_jg">Lferda</a></h6>

        <h4>Yonii</h4>
        <p class="LIGNE8">YONII, whose real name is Yasin El Harrouk, born in 1991 in Stuttgart, Germany, is a German actor and rapper of Moroccan origin.</p>
        <img class="picture" src="Img_List/Yonii.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UC0udgVvsJRuH4WfuIuRPSiw">Yonii</a></h6>

        <h4>La Fouine</h4>
        <p class="LIGNE2">Laouni Mouhid born 25 December 1981,commonly known by his stage name La Fouine , with additional aliases such as Fouiny Babe or just Fouiny, is a French rapper and singer of Moroccan descent. He is owner of Banlieue Sale and clothing line "Street Swagg".</p>
        <img class="picture" src="Img_List/La Fouine.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCZ8lXecIr6UOwAJNyW1XDDg">La Fouine</a></h6>

        <h4>Zamdane</h4>
        <p class="LIGNE9">Zamdane, whose real name is Ayoub Zaidane, is a Moroccan rapper, born September 25, 1997 in Marrakech (Morocco).</p>
        <img class="picture" src="Img_List/Zamdane.webp" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCgfzWWgS4b4h9I_EBHcvcvQ">Zamdane</a></h6>


        <h4>Weld L'Griya</h4>
        <p class="LIGNE10">Youssef Mahiot, known artistically as Weld L'Griya, is a Moroccan rapper and rap lyricist known for his harsh criticism of the regime in many of his songs.</p>
        <img class="picture" src="Img_List/Weld L'Griya.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCkPssEECj8QPTEgkI61T49A">Weld L'Griya</a></h6>

        <h4>Mister You</h4>
        <p class="LIGNE11">Younes Latifi born 5 February 1984, better known by his stage name Mister You, is a French rapper of Moroccan descent known for his freestyles.</p>
        <img class="picture" src="Img_List/Mister You.webp" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCkPssEECj8QPTEgkI61T49A">Mister You</a></h6>

        <h4>L7OR</h4>
        <p class="LIGNE12">L7OR, also known as Lamine Nouri, is a Tunisian rapper and music producer from Tunis, Tunisia. He began his career at the age of 16, when he started producing and writing his own songs. Since then, he has gained recognition for his unique style of rap and production which blends traditional and modern musical elements. With millions of streams on Spotify and YouTube, L7OR is one of the biggest names in Tunisian rap. The entire Moroccan public knows him.</p>
        <img class="picture" src="Img_List/L7OR.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UC9o7H0MTjWjo9MffOVxUPww">L7OR</a></h6>
  </div>
    <div class="card-body">

        <h4>Dizzy DROS</h4>
        <p class="LIGNE1">Omar Souhaili born 19 July 1989, better known by his stage name Dizzy DROS, is a Moroccan rapper, songwriter and producer.</p>
        <img class="picture" src="Img_List/Dizzy DROS.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCy3aXKl3MmWXGj2mmxT9AsA">Dizzy DROS</a></h6>

        <h4>Snor</h4>
        <p class="LIGNE2">A leading and progressive force within the Middle Eastern rap scene, Moroccan rapper Snor stands out with a shady obscurity beneath his bespoke black mask and pigtail ropes.</p>
        <img class="picture" src="Img_List/Snor.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCmqIH5s7Zfmf4c9nREtgnkw">Snor</a></h6>

        <h4>Moro</h4>
        <p class="LIGNE3">Real name Zakaria, Moro is a Moroccan rapper from Casablanca, having lived between France, Switzerland and Morocco, he currently resides in France. He developed a passion for French rap and became interested in it in the 2000s.</p>
        <img class="picture" src="Img_List/Moro.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCn0bdvkxLAj9zWD_0m7CR6g">Moro</a></h6>

        <h4>Ali Ssamid</h4>
        <p class="LIGNE4">Ali Ssamid, born Mohammed Ali Ssamid in 1989, is a Moroccan rapper and songwriter. He is widely known for his innovative and distinctive rap style. Ssamid has been making waves in the music industry since he released his first EP in 2010.</p>
        <img class="picture" src="Img_List/Ali Ssamid.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCBDfle26mlwLx4sa3IWIF7Q">Ali Ssamid</a></h6>

        <h4>Muslim</h4>
        <p class="LIGNE5">Mohamed Al-Hadi Al-Mazouri born December 10, 1981, Tangier, also known by the stage name Muslim, is a Moroccan rapper. He is widely recognized as a key figure in Maghreb rap and is considered one of the most popular and prolific Moroccan rappers of his generation. He has also been described as one of the most influential Arab rappers.</p>
        <img class="picture" src="Img_List/Muslim.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCorJO8dvFhfPLXsLfonUrTw">Muslim</a></h6>

        <h4>Demon 324</h4>
        <p class="LIGNE6">Mahmoud alias “Demon”, is a rap singer-songwriter also born in Morocco, born on May 30, 1994.</p>
        <img class="picture" src="Img_List/Demon 324.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCVaVBXo6_w8N499hhnkxJ_A">Demon</a></h6>

        <h4>Sjaak</h4>
        <p class="gauch">Sjaak, whose real name is Mehdi Chafi, born September 24, 1985 in Amsterdam is a Dutch rapper of Moroccan origin, he is one of the leading rappers in the Netherlands, he collaborates with Ali B and Drake (Rapper) for his titles. He is known for his rather powerful voice and his hardcore style both in his style and in his lyrics. It is around him and other young rappers like Yes-R that the future of Moroccan rap is evolving in the Netherlands.</p>
        <img class="picture" src="Img_List/Sjaak.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCkrl3eae7vgnwmh5_s5EdRQ">Sjaak</a></h6>

        <h4>Kouz1</h4>
        <p class="LIGNE8">Kouz1 alias Abdelkrim Bouhjir, born December 10, 1996 in Rabat, Morocco, is a Moroccan rapper.</p>
        <img class="picture" src="Img_List/Kouz1.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/results?search_query=kouz1">Kouz1</a></h6>

        <h4>Stormy</h4>
        <p class="LIGNE2">Stormy is an American singer, songwriter, and musician hailing from California. Her genre-spanning music fuses together elements of hip-hop, R&B, and soul. She is known for her unique sound which draws influence from her diverse musical background.</p>
        <img class="picture" src="Img_List/Stormy.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCheCWSphDnEwc3A29OVqelg">Stormy</a></h6>

        <h4>TFLOW</h4>
        <p class="LIGNE9">TFLOW is an up-and-coming musician who is quickly gaining traction in the music industry. His real name is not publicly known, but he is believed to be around the age of 22. He has already collaborated with some big names in the industry, but still remains relatively unknown.</p>
        <img class="picture" src="Img_List/TFLOW.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCyXIJavUj8PxxOyz6zASgFw">TFLOW</a></h6>

        <h4>7-Toun</h4>
        <p class="LIGNE10">7-Toun is a Moroccan rap artist who rose to fame in the early 2000s. His real name is Mohammed Boudour, and he was born in Casablanca in 1990. He gained recognition for his gritty lyrics and hard-hitting beats. His music has been described as a mix of hip hop and traditional Moroccan sounds.</p>
        <img class="picture" src="Img_List/7-Toun.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UC2PRVeYNiJZ4LXLjRjufYig">7-Toun</a></h6>

        <h4>Draganov</h4>
        <p class="LIGNE11">Dragomir Draganov is a 45 year old music artist from Morocco. He has been producing music for more than 10 years and is known for his unique sound, energy and beats.</p>
        <img class="picture" src="Img_List/Draganov.png" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCK82U3ep55nGX3bRMT5lECQ">Draganov</a></h6>

        <h4>MR CRAZY</h4>
        <p class="LIGNE12">MR CRAZY is a rapper and singer from Morocco who has taken the rap scene by storm. His real name is Hicham Fatmi and he's 30 years old. He's been making music since he was 15 and has gained an international following for his unique style and sound. He's collaborated with some of the biggest names in rap, including Hamza Namira, Young MA, and Youssoupha.</p>
        <img class="picture" src="Img_List/MR CRAZY.jpg" />
        <br />
        <h6>Youtube channel : <a href="https://www.youtube.com/channel/UCvheXmI5oWFZoy9VrKCl51w">MR CRAZY</a></h6>
  </div>
</Card>
