@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>The best rap songs</PageTitle>

<h1>The best Moroccan rap songs of the last five years</h1>
<h4>For each year, we only display the ten best Tracks</h4>
<Card>
  <div class="card-body">
      <h4>2019</h4>
      <br />
        <h4>MR CRAZY </h4><img class="picture" src="images_login/mr crazy_no bitch.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=hHl8HIRj41c">NO B*TCH !</a></h6>

        <h4>Lbenj </h4><img class="picture" src="images_login/lbenj_ok bb.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=cRuZyD00J9s">OK BB</a></h6>

        <h4>MR CRAZY</h4><img class="picture" src="images_login/mr crazy_khayeb.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=4oaAxcNh6PU">KHAYB</a></h6>

        <h4>MORO </h4><img class="picture" src="images_login/moro godzilla.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=39d2jr1wQYU">GODZILLA </a></h6>

        <h4>Dizzy DROS</h4><img class="picture" src="images_login/dizzy dros_motanabi.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=r-NvQEIvDso">Moutanabbi </a></h6>

        <h4>7toun </h4><img class="picture" src="images_login/7TOUN.jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=YNs_BqG5alM">ZARGA</a></h6>

        <h4>L7OR</h4><img class="picture" src="images_login/l7or_lghrib.jfif" />
        <br />
        <h6> track link : <a href="https://www.youtube.com/watch?v=eXitoJR7USg">LGHRIB </a></h6>

        <h4>Manal </h4><img class="picture" src="images_login/manal_nta.jfif" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=87-_32_lht4">NTA </a></h6>

        <h4>Don bigg</h4><img class="picture" src="images_login/don bigg.jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=ONEQOIfGVig">170 KG</a></h6>

        <h4>Gnawi ft Weld lgriya ft Lz3ar</h4><img class="picture" src="images_login/lgnawi....jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=hiW7ByHWJhg">عاش الشعب</a></h6>

    </div>
    <div class="card-body">
        <h4>2020</h4>
        <br />
        <h4>Inkonnu</h4><img class="picture" src="images_login/inkonnu.jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=rturpfKPbUc">ZAHRI</a></h6>
        <h4>Lbenj</h4><img class="picture" src="images_login/lbenj.jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=MP7brRqoIvg">Ghdara</a></h6>
        <h4>7ari </h4><img class="picture" src="images_login/7ari.jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=K9ZwaEbHQqw">l'baida mon amour</a></h6>
        
        <h4>Snor</h4><img class="picture" src="images_login/Snor.jpg" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=z361iPEtADM">LALALA</a></h6>
        <h4>Stormy</h4><img class="picture" src="images_login/stormy africain.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=_IDoz-ZFkrE">AFRICAIN </a></h6>
        <h4>Snor</h4><img class="picture" src="images_login/snor_de9a de9a.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=il49PQby3Qs">De9a De9a</a></h6>

        <h4>DON BIGG ft IHAB AMIR</h4><img class="picture" src="images_login/big_lmeryoul.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=fOg8xq1AVyU">LMERYOULA</a></h6>

        <h4>Tagne ft Stormy ft Khtek</h4><img class="picture" src="images_login/tagne_fratello.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=hYDrPVbNxWM">FRATELLO</a></h6>
        <h4>Inkonnu </h4><img class="picture" src="images_login/inkonnu_arabi.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=WFMDOPg_BIs">Arabi</a></h6>
        <h4>Toto ft Don Bigg ft<br /> Draganov ft Khtek</h4><img class="picture" src="images_login/toto_hors serie.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=5NSA05umW00">HORS SÉRIE</a></h6>
       
    </div>
    <div class="card-body">
        <h4>2021</h4>
        <br />
        <h4>Toto</h4><img class="picture" src="images_login/toto_mghayer.jfif" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=eBNWq-bYxWg">Mghayer</a></h6>

        <h4>Inkonnu</h4><img class="picture" src="images_login/inkonnu_7ali ya 7ali.jfif" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=Aw32yfU54_Q">7ALI YA 7ALI</a></h6>

        <h4>Inkonnu ft ASMAE</h4><img class="picture" src="images_login/inkonnu_mgawni.jfif" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=26ZhXH7qy5M">MGWANI</a></h6>

        <h4>Inkonnu</h4><img class="picture" src="images_login/inkonnu_chill.jfif" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=XTIjSp8FCP0">CHILL</a></h6>

        <h4>Tagne/Kouz1</h4><img class="picture" src="images_login/kouz1.jpg" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=dRl8tuFQ1ng">J'EN AI MARRE</a></h6>

        <h4>Toto ft CKay</h4><img class="picture" src="images_login/toto.jpg" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=MxjrsDV8Aeo">Love Nwantiti</a></h6>

        <h4>7toun </h4><img class="picture" src="images_login/7toun_milano.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=MMIFuoI7xG4">MILANO </a></h6>

        <h4>Snor</h4><img class="picture" src="images_login/snor.jpg" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=_g-aaR2XbZ4">HKAYA</a></h6>

        <h4>Tagne</h4><img class="picture" src="images_login/tagne_nadi canadi.jfif" />
       <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=Uufffwh5GrQ">NADI CANADI</a></h6>

        <h4>Abdeelgha4 ft ILY</h4><br /><img class="picture" src="images_login/ily_d'accord.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=rdjbDFGq0ow">D'accord</a></h6>
    </div>
    <div class="card-body">
        <h4>2022</h4>
        <br />
        <h4>toto</h4><img class="picture" src="images_login/toto_Silhouette.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=-CYvKScPlk0">Silhouette</a></h6>

        <h4>DON BIGG ft Reda Taliani</h4><img class="picture" src="images_login/don big_etranger.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=Xqd813GoFfQ">L'étranger </a></h6>

        <h4>Toto </h4><img class="picture" src="images_login/toto_Gueule tapée.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=xM9DYM0g7Wc">Gueule Tapée</a></h6>

        <h4>Inkonnu </h4><img class="picture" src="images_login/inkonnu_breda.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=fzTT75K-dWU">BREDA</a></h6>

        <h4>Draganov</h4><img class="picture" src="images_login/draganov_chichi.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=xsrfQHpw9Y4">CHICHI </a></h6>

        <h4>Toto</h4><img class="picture" src="images_login/toto_7elmetAdo5.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=NsGm_VvZfCQ">7elmetAdo 5</a></h6>

        <h4>Lferda</h4><img class="picture" src="images_login/lferda_Ma jolie.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=0esLWiuEvCU">Ma Jolie</a></h6>

        <h4>Tagne ft Manal</h4><img class="picture" src="images_login/tagne_maak.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=GnfAVwtNB1c">MAAK</a></h6>

        <h4>7-toun </h4><img class="picture" src="images_login/7toun_chinwi.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=ugZn1YhpHi0">CHINWI </a></h6>

        <h4>7-toun</h4><br /><img class="picture" src="images_login/7toun_zero.jfif" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=MYg2C8e6ikI">ZERO</a></h6>

    </div>
    <div class="card-body">
        <h4>2023</h4>
        <br />
        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href=""></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=lJc9lvR654k"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=ONEQOIfGVig"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=kGj-sIpnokM"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=rturpfKPbUc"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=dRl8tuFQ1ng"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=8Oiv-fqp1W4"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=K9ZwaEbHQqw"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=_g-aaR2XbZ4"></a></h6>

        <h4></h4><img class="picture" src="images_login/" />
        <br />
        <h6>track link : <a href="https://www.youtube.com/watch?v=C4DdWaDM0VY"></a></h6>
    </div>
</Card>
