@page "/Top"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Top Moroccan Rappers</PageTitle>

<h1>Rap dans le MAROC</h1>
<p>
    Le rap marocain prend différentes formes, allant du rap commercial au rap conscient. Les débuts du hip-hop et des arts urbains au Maroc remontent au milieu des années 1980, et il faut savoir qu’une fois apparus en Occident, les jeunes Marocains issus de l’immigration vivant en Europe ont apporté à leur retour le rap au pays. Saisonnier au Maroc. Il faudra plusieurs années aux rappeurs marocains pour transformer le rap occidental en rap marocain (une fusion entre la musique traditionnelle marocaine et le rap occidental) et trouver la formulation appropriée (un mélange du dialecte marocain de l'arabe dit darija, de l'amazigh (berbère), du français et anglais). L'ouverture démocratique du pays (amorcée à la fin des années 1990) jouera un rôle déterminant dans l'épanouissement et l'expansion de tous les nouveaux genres musicaux de la nouvelle scène marocaine. Il ne s'est fait connaître que depuis 1996 grâce aux rappeurs Dogs, 3awd Lil, Double A (Aminoffice) et Zanka Flow dont MUSLIM qui représentait le côté conscient du rap marocain. De l’autre, il y avait Don Page avec une vision de la musique rap très proche de celle des Européens et il a connu un grand succès partout en Europe et en Afrique dans les années 2000. Des artistes et groupes tels que Kachela, Casa Crew, Casa System, H-Kayne, Don Bigg, Shayfeen, Fnaïre, MUSLIM et Dizzy DROS font la renommée du rap marocain.
</p>
<p>
    Situé en Afrique du Nord, le Maroc possède l’une des scènes hip-hop arabes les plus étendues, avec des rappeurs marocains qui sont devenus parmi les stars arabes internationales les plus importantes et les plus appréciées. Avec une population de plus de 35 millions d’habitants, l’abondante collection de talents hip-hop du Maroc a contribué à la croissance remarquable de la musique hip-hop arabe.
    Le rap arabe a connu une croissance significative depuis son apparition dans les années 1990, le Maroc étant en tête.
</p>
<h1>Les meilleurs artistes de rap marocains</h1>
<p>
    La vaste liste de rappeurs marocains comprend ElGrandeToto, un artiste polyvalent qui fusionne sans effort les sons marocains traditionnels avec le rap contemporain, créant ainsi un son distinct. Lbenj, qui a connu un succès considérable grâce à ses airs entraînants et sa capacité à se connecter avec les auditeurs. 7Liwa, connu pour ses paroles brutes et non filtrées avec un flow distinct et une prestation puissante. KOUZ1, un talent émergent dans l'industrie, présentant un mélange unique d'influences rap old-school et de styles modernes. L7OR, qui a une voix importante dans le rap marocain, avec des tubes comme « HES BIYA », « LGHRIB », « KHALIWNI » et « YA Omri ». Dizzy DROS, un rappeur dynamique qui a fait des vagues dans l'industrie, repoussant les limites de la musique rap. Don Bigg, figure influente du hip-hop marocain depuis le début des années 2000, est l’un des artistes les plus captivants du Maroc. TAGNE, qui a réussi à se tailler une place à part avec ses paroles poignantes et son flow envoûtant. 7-TOUN, un jeune talent casablancais, a pris d'assaut la scène rap marocaine avec son énergie contagieuse et ses prouesses lyriques brutes. MR CRAZY, qui par son approche intrépide a fait de lui une figure emblématique du hip hop marocain. Tous ont collectivement joué un rôle crucial dans l'élaboration de la scène rap marocaine contemporaine, mais il existe également quelques dizaines d'autres MC vétérans, comme Lferda, TFlow et 7ari, aux côtés de rappeurs marocains émergents, comme 21Tach, Dsouli et Bo9al, qui ont transformé le rap marocain en un acteur majeur du monde du hip hop.
</p>

<div class="milieu">
    <h1>Dix rappeurs marocains qui ont réussi leur carrière internationale</h1>
    <p>
        Cela fait quelques années déjà que le Rap au Maroc est devenu une musique à grand public. Le talent de nos Mc’s anciens et nouveaux, sans oublier l’apport considérable d’Internet, a largement contribué au succès de ce style musical autrefois marginalisé et très ‘underground’.  Mais figurez-vous que le rap marocain ne fait pas l’unanimité qu’au Maroc, mais aussi outre-mer. Dans cet article, on vous dresse une liste de ses rappeurs « Made in Bled » qui nous honorent dans leurs pays d’accueil.
    </p>
    <h4>1. French Montana</h4>
    <p>
        Arrivé à l’âge de 13 ans aux États-Unis, Karim Kherbouch après des années de dur labeur, va devenir une figure incontournable de la scène Hip Hop américaine et donc mondiale. Produit par le grand P DIDDY et avec deux albums studio à son actif, ce natif de Rabat ne compte pas s’arrêter en si bon chemin.
        <br />
        <img class="photo" src="images_login/p-French-Montana.jfif" />
    </p>
    <h4>2. La Fouine</h4>
    <p>
        Qui ne connaît pas Laouni Mouhid ? Personne ! Né à Trappes, dans la banlieue parisienne, dans une famille nombreuse, il a quitté l’école très tôt pour se consacrer à sa dévotion qu’est la musique. Résultat des courses : il est devenu une star et l’un des artistes les plus productifs de sa génération avec plusieurs albums studio et mixtapes à son actif. Une carrière bien remplie pour celui qui a obtenu en 2011 le prix du « meilleur artiste français » aux MTV EUROPE MUSIC AWARDS. Chapeau !
        <br />
        <img class="photo" src="images_login/p-La Fouine.jfif" />
    </p>
    <h4>3. Lartiste</h4>
    <p>
        Youssef Akhdim, arrivé en France à l’âge de 8 ans, a commencé très jeune à s’intéresser à la musique et au Rap plus spécialement. Maintenant orienté plus vers la Pop urbaine, il enchaîne les succès, et n’hésite pas à aider les nouveaux talents marocains.
        <br />
        <img class="photo" src="images_login/p-L'artiste.jfif" />
    </p>
    <h4>4. Niro</h4>
    <p>
        De son vrai nom Noureddine Bahri, Niro est l’un des rappeurs les plus respectés de la scène Hip Hop en France. Ses textes sombres et engagés lui ont valu la reconnaissance, non seulement par son public, mais aussi de ses compères dans un milieu musical où la concurrence est très rude.
        <br />
        <img class="photo" src="images_login/p-Niro.jfif" />
    </p>
    <h4>5. Mister You</h4>
    <p>
        Younes Latifi, ou le Bad Boy de la scène musicale en France. Célèbre de par ses ennuis avec la justice suite à son implication dans un trafic de stupéfiants, d’ou le titre de sa mixtape ‘Arrête YOU si tu peux’. À ce jour, il est l’un des rappeurs les plus sollicités pour des concerts, que cela soit au Maroc ou en France, preuve encore de toute la notoriété dont il jouit.
        <br />
        <img class="photo" src="images_login/p-Mister You.jfif" />
    </p>
</div>
<h4>6. Mourad</h4>
<p>
    Mourad, de son nom complet Mourad Al-Khouti Al-Harami, né le 4 mars 1999 à Hospitalet de Llobregat (province de Barcelone, Espagne), est un rappeur espagnol d'origine marocaine. Il entre sur la scène rap espagnole en 2019 avec son single M.D.L.R, puis crée un label du même nom.    <br />
    <img class="photo" src="images_login/p-Mourad.jfif" />
</p>
<h4>7. Toto</h4>
<p>
    ElGrandeToto ou Toto, de son vrai nom Taha Fahssi, né le 3 août 1996 à Casablanca, est un rappeur marocain. En 2021, il est l'artiste le plus écouté de la région MENA sur Spotify, avec plus de 135 millions de streams dans 178 pays.    <br />
    <img class="photo" src="images_login/p-toto.jfif" />
</p>
<h4>8. Don Bigg</h4>
<p>
    Taoufik Hazeb, dit Don Bigg, Bigg da Don ou Bigg, est un rappeur marocain né le 8 octobre 1983 à Casablanca.

    Il est considéré comme l'un des rappeurs notoires marocains notamment pour son style direct, son flow maitrisé et pour les thèmes de ses chansons, très proches des préoccupations d'une large frange de la jeunesse urbaine marocaine, incluant la corruption.    <br />
    <img class="photo" src="images_login/p-don bigg.jfif" />
</p>
<h4>9. Dizzy Dros</h4>
<p>
    Omar Souhaili born 19 July 1989, better known by his stage name Dizzy DROS, is a Moroccan rapper, songwriter and producer.
    Born in Casablanca, Morocco, Dizzy DROS was raised in Bine Lemdoune, a popular neighbourhood in Casablanca. DROS stands for 'Da Rhymes of Streets' although he is also known as Mr. Cazafonia. Dizzy DROS started to write songs and to develop his personal style in rap at the age of 17.
    <br />
    <img class="photo" src="images_login/p-dizzy dros.jfif" />
</p>

<h4>10. Muslim</h4>
<p>
    Mohamed Mezouri, connu sous le nom de Muslim, est un rappeur marocain, née à Tanger en 1981 issu d'un quartier populaire « Jmaa » qui était son lieu d'inspiration que ce soit au niveau de l'écriture ordinaire ou bien l'écriture de chanson de rap. Il fait ses premiers pas dans le monde du Rap dès 1995, avec d'autres rappeurs tangérois avant de monter son groupe « Zanka Flow » avec L3arabé, une autre pointure du rap tangérois. Leur premier album sort dans les bacs en 2001 et reste aux yeux de tous une des pièces maîtresses du rap marocain.
    Muslim décide ensuite de se lancer dans une carrière solo.<br />
    <img class="photo" src="images_login/p-muslim.jfif" />
</p>


